/* فایل: SliderCardView.css */

/* کلاس جدید برای طراحی جایگزین تصویر */
.placeholder-card {
  background-image: radial-gradient(
    circle,
    var(--background-tertiary) 0%,
    var(--background-secondary) 100%
  );
}

/* استایل دکمه‌های ناوبری (بدون تغییر) */
.slider-nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(23, 23, 23, 0.7);
  color: var(--foreground-primary);
  border: 1px solid var(--border-primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  backdrop-filter: blur(4px);
}

@media (pointer: fine) {
  .group\/slider:hover .slider-nav-button {
    opacity: 1;
  }
}

@media (pointer: coarse) {
  .slider-nav-button {
    opacity: 1;
  }
}

.slider-nav-button.swiper-button-disabled {
  opacity: 0 !important;
  cursor: auto;
}

.swiper-wrapper {
  justify-content: flex-start;
}
