.rdp-custom {
  direction: rtl;
  --rdp-cell-size: 40px;
  --rdp-accent-color: var(--accent-primary);
  --rdp-background-color: var(--accent-primary-faded);
  --rdp-outline: 2px solid var(--accent-primary);
  --rdp-outline-selected: 3px solid var(--accent-primary);
  --rdp-border-radius: 99px;
  margin: 0;
  font-family: inherit;
  color: var(--foreground-primary);
}
.rdp-custom .rdp-caption_label {
  font-weight: 700;
  color: var(--foreground-primary);
  font-size: 1rem;
}
.rdp-custom .rdp-nav_button {
  color: var(--foreground-primary);
  border-radius: 99px;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
}
.rdp-custom .rdp-nav_button:hover {
  background-color: var(--background-tertiary);
}
.rdp-custom .rdp-head_cell {
  font-weight: 600;
  color: var(--foreground-secondary);
}
.rdp-custom .rdp-day {
  border-radius: 99px;
}
.rdp-custom .rdp-day:hover {
  background-color: var(--background-tertiary) !important;
}
.rdp-custom .rdp-day_selected {
  background-color: var(--accent-primary) !important;
  color: white !important;
  font-weight: 700;
}
